<header id="site-header">
  <img src="{{this.target.location.rootURL}}doodle docs big logo.png" />
  <span>Early Alpha</span>
  <nav id="site-nav">
    {{#link-to "site.home" class="button"}}Home{{/link-to}}
    |
    {{#link-to "site.faq" class="button"}}FAQ{{/link-to}}
    |
    {{#if session.isAuthenticated}}
    <a href="#logout" {{action 'logout'}}>Log Out</a>
    |
    {{#link-to "site.settings" class="button"}}Settings{{/link-to}}
    {{else}}
    {{#link-to "site.login" class="button"}}Log In{{/link-to}}
    |
    {{#link-to "site.signup" class="button"}}Sign Up{{/link-to}}
    {{/if}}
  </nav>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>Made with ❤️ by <img src="{{this.target.location.rootURL}}melvin.png"></p>
</footer>